@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,200);

*{
    margin: 0px; padding: 0;
  }

a {
  color:white;
  text-decoration: none;
}

body {
  background-color:black;
  color:white;
  font-family: 'Advent Pro', sans-serif;
}

#canvas {
    z-index:-1;
    margin-left:400px;
    border-style: double;
    position:absolute;
    background-color: lavender;
  }

#countdown{
  position:absolute;
  margin-left: 1150px;
  margin-top:10px;
  color:red;
  font-family:Arial;
}

#currentScore, #goHome, #pauseResumeGame, #submitScoreBtn, #restartGame, #fallingButton, #staticButton{
  color:white;
  position:absolute;
  text-align:center;
  width:100px;
  margin-left: 100px;
  border-style:dotted;
  padding:10px;
}

#goHome:hover, #pauseResumeGame:hover, #submitScoreBtn:hover, #restartGame:hover {
cursor:pointer;
}

#restartGame:hover{
  background-color:lightgreen;
}

#pauseResumeGame:hover{
  /*background-color: #A0522D;*/
  background-color: #E9967A;
}

#submitScoreBtn:hover{
  background-color: #7B68EE;
}


#currentScore:hover{
  cursor:default;
}

#goHome:hover{
  background-color: goldenrod;
}

#fallingButton, #staticButton{
  margin-top:300px;
  background-color:black;
  z-index: 0;
}

#fallingButton{

  margin-left:905px;

}

#fallingButton:hover, #staticButton:hover{
  margin-top: 290px;
  background-color: #F20056;
  text-transform: uppercase;
  font-family:Arial;
  cursor:pointer;
  padding:20px;
}

#fallingButton:hover{
  margin-left:895px;
}

#staticButton:hover{
  margin-left:590px;
}

#staticButton{
  margin-left: 600px;
}

#selectVersionPrompt{
  position:absolute;
  margin-left: 615px;
  margin-top: 200px;
  color:black;
}

#goHome{
  margin-top:34%;
  font-weight: normal;
  width:100px;
}

#pauseResumeGame{
  margin-top:19%;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  width:100px;
}

#pauseResumeGame:hover{
  cursor:pointer;
}

#restartGame{
  margin-top:11%;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  width:100px;
}

/*#resultForm{
  position:fixed;
  margin-left:725px;
  margin-top:400px;

}*/

#startButtonPic,#paused,#gameOverPic{
  margin-left: 400px;
  margin-top: 0px;
  height:530px;
  z-index:0;
  width:830px;
  position:fixed;
}

#sound{
  position:absolute;
  width:30px;
  border-style: solid;
  border-color: white;
  background-color: red;
  margin-left: 400px;
}

#sound:hover{
  cursor:pointer;

}

#submitScoreBtn{
  margin-top:26%;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  width:100px;

}

#logo{
  position:relative;
  margin-left: 712px;
  /*color: white;*/

}

h3{
  text-decoration: underline;
  padding:10px;


}
