*{
    margin: 0px; padding: 0;
  }

body {
    height:100%;
  }

/*div{
  border-style: solid;
  padding: 50px;
}*/

body{
  /*text-align: center;*/
  /*background-color:black;
  color:white;*/
}

#canvas {
    z-index:-1;
    margin-left:20px;
    border-style: double;
    position:absolute;
    background-color: lavender;
    width:800px;
    height:500px;
  }

h2{
  text-align:center;
  /*color: white;*/

}
