*{
    margin: 0px; padding: 0;
  }

a {
  color:white;
  text-decoration: none;
}

body {
  background-color:black;
  color:white;
}

#canvas {
    z-index:-1;
    margin-left:400px;
    border-style: double;
    position:absolute;
    background-color: lavender;
  }

#currentScore, #goHome, #pauseResumeGame, #submitScoreBtn, #restartGame{
  color:white;
  position:absolute;
  text-align:center;
  width:100px;
  margin-left: 100px;
  border-style:dotted;
  padding:10px;
}

#goHome{
  margin-top:34%;
  font-weight: normal;
  width:100px;
}

#pauseResumeGame{
  margin-top:18%;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  width:100px;
}

#pauseResumeGame:hover{
  cursor:pointer;
}

#restartGame{
  margin-top:11%;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  width:100px;
}

/*#resultForm{
  position:fixed;
  margin-left:725px;
  margin-top:400px;

}*/

#startButtonPic,#paused,#gameOverPic{
  margin-left: 400px;
  margin-top: 0px;
  height:530px;
  z-index:0;
  width:830px;
  position:fixed;
}

#submitScoreBtn{
  margin-top:26%;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  width:100px;

}

h2{
  text-align:center;
  /*color: white;*/

}

h3{
  text-decoration: underline;
  padding:10px;


}
