*{
    margin: 0px; padding: 0;
  }

body {
    height:100%;
    background-color:black;
    color:white;
  }

/*div{
  border-style: solid;
  padding: 50px;
}*/


#canvas {
    z-index:-1;
    margin-left:20px;
    margin-top: 20px;
    border-style: double;
    position:absolute;
    background-color: lightgray;
    width:800px;
    height:500px;
  }

#cloudPic{
  position:fixed;
  margin-left:-199px;
  margin-top:-40px;
  width:500px;
  z-index:-1;
}

#aboutPaul{
  background-color: #FF0066;
  margin-left:400px;
}

#aboutPaul:hover{
  margin-top:-10px;
}

#aboutEva{
  background-color: #66FF66;
  margin-left:450px;
}

#aboutEva:hover{
  margin-top:-10px;
}

#aboutNicole{
  background-color: #3399FF;
  margin-left:500px;
}

#aboutNicole:hover{
  margin-top:-10px;
}

#aboutGame, #gameRules{

  position:absolute;
  margin-left:530px;
  margin-top:230px;
  font-size:16pt;
  width:50%;
}

#goToGame{
  background-color: orange;
  margin-top:370px;
}

#goToGame:hover{
  background-color:yellow;
  margin-left:-20px;
}

#rules{
  background-color: #990000;
  margin-top:300px;
}

#rules:hover{
  background-color: #FF0000;
  margin-left:-20px;

}

#scoreboard{
background-color: #CC00FF;
  margin-top:440px;

}

#scoreboard:hover{
  background-color: #FF0066;
  margin-left:-20px;
}

.abouts{
  position:fixed;
  border-radius: 10px;
  margin-top:-30px;
  padding: 10px;
  padding-top:100px;
  color:white;
  width:15px;
}

.sidetabs{
  font-size: 24pt;
  background-color:red;
  text-align:right;
  position:fixed;
  border-radius: 10px;
  margin-left:-100px;
  padding: 5px;
  padding-left:200px;
  color:white;
  width:200px;
}

h2{
  position:fixed;
  color: blue;
  margin-top:90px;
  margin-left:10px;

}

h3{
  text-decoration: underline;
  font-weight: bold;
  font-size:48pt;


}
