@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,200);

*{
    margin: 0px; padding: 0;
  }

body {
    height:100%;
    background-color:black;
    color:white;
    font-family: 'Advent Pro', sans-serif;
  }

#cloudPic{
  position:fixed;
  margin-left:-199px;
  margin-top:-40px;
  width:500px;
  z-index:-1;
}

#cloudPic:hover, h2{
  position:fixed;
  margin-left:-179px;
  margin-top:-30px;
  width:500px;
  z-index:-1;
}

#aboutPaul{
  background-color: #FF0066;
  margin-left:70%;
}

#aboutPaul:hover{
  margin-top:-10px;
}

#aboutEva{
  background-color: #66FF66;
  margin-left:73%;
}

#aboutEva:hover{
  margin-top:-10px;
}

#aboutNicole{
  background-color: #3399FF;
  margin-left:76%;
}

#aboutNicole:hover{
  margin-top:-10px;
}

#aboutGame, #gameRules {

  position:absolute;
  margin-left:530px;
  margin-top:230px;
  font-size:16pt;
  width:50%;
}

#aboutGame:hover, #gameRules:hover{
  cursor:default;
}

#aboutBG {
  background-color: gray;
  opacity: 0.3;
  z-index: 1;
}

#goToGame{
  background-color: darkcyan;
  margin-top:-180px;
  margin-left:76%;
  text-align: right;
}

#goToGame:hover{
  background-color:turquoise;
  margin-top:90px;
  text-align: left;
}

#rules{
  background-color: salmon;
  margin-top:-180px;
  margin-left:72%;
  text-align: right;
}

#rules:hover{
  background-color: tomato;
  cursor: pointer;
  margin-top:60px;
  text-align: left;
}

#aboutTheGame{
  background-color: #FFFF66;
  margin-left:68%;
  margin-top:-180px;
  text-align: right;
}

#aboutTheGame:hover{
  background-color: yellowgreen;
  margin-top:30px;
  text-align: left;
  cursor: pointer;
}


#scoreboard{
  background-color: #CC00FF;
  margin-left:80%;
  margin-top:-180px;
  text-align: right;
}

#scoreboard:hover{
  background-color: #FF0066;
  margin-top:120px;
  text-align: left;
}

.abouts{
  position:fixed;
  border-radius: 10px;
  margin-top:-100px;
  padding: 10px;
  padding-top:100px;
  color:white;
  width:15px;
}

.sidetabs{
  transform: rotate(-90deg);
  font-size: 24pt;
  background-color:red;
  text-align:left;
  position:fixed;
  border-radius: 10px;
  margin-top: -300px;
  padding: 5px;
  padding-right:200px;
  color:white;
  width:200px;
}

h2{
  position: fixed;
  color: blue;
  margin-top:0px;
  margin-left:300px;
  font-size:200pt;

}

h3{
  text-decoration: underline;
  font-weight: bold;
  font-size:48pt;


}
