<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="scoreboard-style.css" />
    <title>Scoreboard</title>
  </head>
  <body>
      <a href="/game">
        <div class="sidetabs" id="goToGame">
          Go To Game
        </div>
      </a>

      <a href="/">
      <div class="sidetabs" id="goHomeDiv">
        Go Home
      </div>
      </a>
    <hr />
    <TABLE BORDER="3" CELLSPACING="1" CELLPADDING="1">
    <h2>Scores</h2>
    <tr>
    <td>  {% for user in users %}
      <ul id = "placedUserName"> {{ user.name }}
      </ul>
    {% endfor %}
  </TD>
    <td> {% for user in users %}
      <ul> {{user.score}}
      </ul>
      {% endfor %}
  </form>
      </td>
  </TD>
    </TR>
  </TABLE>



  </body>
</html>
{% endautoescape %}
