<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    <form action="/" method="post">
      <div>Name: <input name="name"></input></div>
      <div><input type="submit" value="Add User"></div>
    </form>
    <TABLE BORDER="3" CELLSPACING="1" CELLPADDING="1">
    <CAPTION>Scores</CAPTION>
    <TR>
    <TD ALIGN = "left" bgcolor="#FF0000" >  {% for user in users %}
      <ul>{{ user.name }}
      </ul>
    {% endfor %}
  </TD>
    <td>
      {% for n in points:%}
      <ul>{{ n }}
      </ul>
      {% endfor %}
      </td>
  </TD>
    </TR>
    </TABLE>


    <hr>

  </body>
</html>
{% endautoescape %}
