body{
  background-color: black;
  color: white;
  font-family: Arial;
  font-size: 24pt;
  text-align:center;

}

table{
  border-style: dotted;
  margin-left:27%;
  padding:10px;
}

#goToGame{
  background-color: orange;
  margin-top:120px;
}

#goToGame:hover{
  background-color:yellow;
  margin-left:-20px;
}

#placedScore{
  background-color: #BEF243;
  padding:5px;
  color:white;
  width:300px;
}


#placedUserName{
  background-color: #FF6AA6;
  padding:5px;
  color: black;
  width:300px;
}

#goHomeDiv{
background-color: #CC00FF;
  margin-top:20px;

}

#goHomeDiv:hover{
  background-color: #FF0066;
  margin-left:-20px;
}

.sidetabs{
  font-family: Times;
  font-size: 24pt;
  background-color:red;
  text-align:right;
  position:fixed;
  border-radius: 10px;
  margin-left:-100px;
  padding: 5px;
  padding-left:200px;
  color:white;
  width:200px;
}
